h1, h2, h3, h4, h5, h6 {
	clear: both;
  margin: 0;
  font-family: $font__headings;
  @include margin-bottom(1);
}

h1 {
  @include font-size(1.5);
  @include media(tablet, general) {
    @include font-size(1.7);
  }
}

h2 {
  @include font-size(1.1);
  @include media(tablet, general) {
    @include font-size(1.3);
  }
}