.alignleft {
	display: inline;
	float: left;
  @include margin-right(1.5);
  @include margin-bottom(1);
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}
