.site-title,
.site-description {
  font-family: $font__headings;
}
.site-logo,
.site-description {
  margin: auto;  
}

.site-logo {
  display: block;
  max-width: 260px;
}

.site-title {
  a {
    color: $c__text-main;
  }
}
.site-description {
  @include font-size(.75) {

  }
  text-align: center;
  color: $c__red;
  div {
    display: inline;
  }
  span {
    @include font-size(1.025);
  }
}

