.site-header {
  background: $bg1;
  position: relative;
}

.site-branding {
  clear: left;
  @include padding-top(1);
  @include padding-sides(1);
  @include media(tablet, general) {
    padding-right: 0;
    @include padding-bottom(1);
  }
  .site-branding-container {
    @include media(tablet, general) {
      display: block; // Testing
      text-align: left;
    }
  }
  .site-branding-container {
    margin: 0 auto;
    @include media(tablet, general) {
      // margin: 0;
    }
  }


  .site-action-container,
  .site-extra-container {

  }

  .free-consultation {
    @include media(tablet, general) {
      float: left;
      clear: none;
    }
  }
  .mlg-contact-info {
    @include media(tablet, general) {
      float: right;
      clear: none;
    }    
  }

  .site-action-container {
    // background: white; // Testing
    text-align: right;
  }
  .site-action {
    text-align: right;
    line-height: 1;
    @include margin-top(.5);
    @include margin-bottom(.5);
  }
  .mlg-free,
  .mlg-phone,
  .mlg-email,
  .mlg-address {
    display: inline-block;
    float: right;
    clear: right;
    font-weight: 700;
    color: $c__red-dark;
    &::before {
      // color: $c__link;
      font-family: 'Fontawesome';
      @include margin-right(.5);
    }
    &:link, &:hover, &:active, &:focus, &:visited {
      text-decoration: none;
    }
  }
  .mlg-free {
    float: none;
    line-height: 1;
    color: $c__blue;
    font-family: 'Lora';
    @include margin-top(1);
    @include font-size(1.5);
    @include media(tablet, general) {
      position: absolute;
      bottom: 12px;
      margin: 0;
      // color: $c__red-dark;
      @include font-size(2.5);
    }
    &:hover {
      // color: $c__blue;
    }
  }
  .mlg-phone,
  .mlg-email {
    &:hover, &:focus, &:active, &:visited {
      color: $c__red;
    }
  }
  .mlg-phone {
    @include font-size(2);
    &::before {
      content: '\f095';
      @include font-size(1.5);
    }
  }
  .mlg-email {
    @include margin-bottom(1);
    &::before {
      content: '\f003';

    }
  }
  .mlg-address {
    &::before {
      content: '\f041';

    }
  }
}

.site-title,
.site-description {
  font-family: $font__headings;
}
.site-logo,
.site-description {
  margin: auto;
  @include media(tablet, general) {
    margin: 0;
    text-align: left;
  }
}
.site-logo {
  display: block;
  // max-width: 368px; // Use this to control version 2 of the header
}

.site-title {
  a {
    color: $c__text-main;
  }
}
.site-description {
  font-weight: 400;
  line-height: 1;
  color: $c__red;
  @include margin-top(.5);
  @include font-size(1.2); // Adjust these and those below for a two level effect
  @include media(iphone, general) {
    @include font-size(.8);
  }
  @include media(tablet, general) {
    @include font-size(1.42);
  }
  div {
    display: inline;
  }
  span { // Adjust these and those above for a two level effect
    @include font-size(1.7); 
    @include media(iphone, general) {
      @include font-size(1.2);
    }
    @include media(tablet, general) {
      @include font-size(2);
    }
  }
}
