// .content-area {
// 	float: left;
// 	margin: 0 (-$size__site-sidebar) 0 0;
// 	width: $size__site-main;
// }

// .site-main {
// 	margin: 0 $size__site-sidebar 0 0;
// }

// .site-content .widget-area {
// 	float: right;
// 	overflow: hidden;
// 	width: $size__site-sidebar;
// }

// .site-footer {
// 	clear: both;
// 	width: $size__site-main;
// }

body {
  background-color: $bg1;
}

.site {
  max-width: 800px;
  background-color: $bg2;
  @include media(tablet, general) {
    @include margin-sides(1);
  }
  @include media(small, general) {
    margin: 0 auto;
  }
}

.splash-header {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px solid $c__text-main;
  @include clearfix;
  @include margin-top(1);
  img {
    float: right;
    max-width: 41%;
    @include media(iphoneUp, general) {
    }
    @include media(tablet, general) {
      max-width: 41%;
    }
  }
  h1,
  p {
    @include padding-left(1);
  }

  h1 {
    float: left;
    width: 59%;
    max-width: 59%;
    @include media(tablet, general) {
      max-width: 59%;
    }
  }
  p {
    clear: left;
    width: 100%;
    margin-top: 0;
    @include padding-right(1);
    @include media(iphone, general) {
    }
    @include media(tablet, general) {
      clear: none;
      @include font-size(1.125);
    }
  }

  .needa,
  .freshstart {
    display: block;
    line-height: 1.2;
    @include media(tablet, general) {
    }
  }
  .needa {
    // color: $c__blue;
    font-family: 'Source Sans Pro';
    @include font-size(1.5);
    @include media(iphone, general) {
    }
  }
  .freshstart {
    // color: $c__blue;
    @include font-size(2);
    @include media(iphoneUp, general) {
      white-space: nowrap;
      @include font-size(3);
    }
    @include media(tablet, general) {
      // color: $c__blue;
      @include font-size(3.5);
    }
  }
}


.site-content {
  // box-shadow: 1px 1px 1px $c__text-main;
}
.content-container {
  @include padding-top(1);
  @include padding-sides(1);
  @include media(tablet, general) {
    display: flex;
  }
}


.content-area {
  padding-right: 0;
  @include media(tablet, general) {
    @include padding-right(1);
  }
}
.widget-area {
  @include media(tablet, general) {
    min-width: 300px;
  }
  strong {
    color: $c__red-dark;
  }
}
