a {
	color: $c__link;
	text-decoration: none;

	&:visited {
		color: $c__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $c__link-hover;
		text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}